.table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  border: 3px solid #111;
  max-width: 920px;
  margin: 0 auto;
}

.th {
  padding: 16px 10px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  background: #2f2f2f;
  color: #fff;
  border: 2px solid #111;
}

.td {
  padding: 14px 10px;
  border: 2px solid #111;
  font-size: 34px;
  text-align: center;
}

.tr:last-child .td {
  border-bottom: 2px solid #111;
}

.tr:nth-child(even) .td {
  background: #d1d5db;
}

